*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    width: 131px;
    height: 48px;
    border-radius: 8px;
    background: #31c3e0;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
}

.nav {
    &__list {
        display: flex;
    }

    &__link {
        display: inline-block;
        color: #676a6c;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 114.286%;
        padding: 5px 17px;

        &:hover {
            color: #2d3134;
        }

        &--active {
            position: relative;
            color: #2d3134;

            &::after {
                position: absolute;
                left: 17px;
                bottom: 0;
                content: "";
                width: 12px;
                height: 2px;
                border-radius: 1px;
                background: #ff7b29;
            }
        }
    }
}
